@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(34.73% 114.69% at 49.95% 16.67%, #c0e3fb 9.09%, #efd1e8 50.52%, #b7a0df 93.23%);
    background-size: 110%;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #222;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

section {
    width: 100vw;
    height: 100vh;
}

.waves {
    position: relative;
    width: 100%;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.wrap {
    width: 1300px;
    margin: 0 auto;
}

/*-------------- header--------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    z-index: 10;
}

.header .home_btn {
    margin: 30px 0 0 70px;
    float: left;
}

.header .menu_btn {
    float: right;
    margin: 30px 70px 0 0;
}

.header .menu_btn ul {
    display: flex;
    gap: 20px;
}

.nav_bar {
    position: fixed;
    top: 50%;
    right: 0;
    color: #222;
    margin-right: 20px;
    font-size: 14px;
    z-index: -2;
}

.nav_bar ul {
    display: flex;
    flex-direction: column;
}

.nav_bar ul li {
    width: 30px;
    height: 30px;
}

.nav_bar ul li a {
    position: relative;
}

.nav_bar ul li a span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
}

.nav_bar ul li a > p {
    position: absolute;
    left: -75px;
    top: 2px;
    visibility: hidden;
}

.nav_bar ul li:hover a span {
    width: 14px;
    height: 14px;
    transform: translate(-25%, 25%);
    transition: all 0.3s;
}

.nav_bar ul li:hover p {
    visibility: visible;
    transition: all 0.3s;
}

.nav_bar ul li a span.active {
    width: 14px;
    height: 14px;
    transform: translate(-25%, 25%);
    transition: all 0.3s;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*-------------- Intro--------------- */

.intro {
    background-color: #fff;
    height: calc(100vh - 131px);
}

.intro_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.intro_wrap .text_box {
    width: 60%;
}

.intro_wrap .text_box .typeText {
    color: #b7a0df;
    font-size: 28px;
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
}

.intro_wrap .text_box .typeText::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

.intro_wrap .intro_img {
    width: 40%;
}

.intro_wrap .intro_img img {
    width: 400px;
    border-radius: 50%;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Snow-Animation */
.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {
    100% {
        transform: translateY(0);
    }
}

/* Cloud-Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Animation class */
.animate_content {
    animation: animate 3s ease;
}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
    }
    85% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1);
    }
}

/*-----------------about------------------*/
.about {
    position: relative;
    background-color: #fff;
}
/* rolling */
.about .back_txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
}

.about .back_txt .rolling:nth-child(1) {
    border-top: 1px solid #efefef;
}

.back_txt .rolling {
    position: relative;
    border-bottom: 1px solid #efefef;
    color: #fefefe;
    font-size: 65px;
    height: calc(100% / 4);
    line-height: 200px;
    overflow: hidden;
}

.back_txt .rolling .track {
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: background-color 300ms ease, color 300ms ease;
    white-space: nowrap;
}

.back_txt .rolling .track .text {
    animation: roll 10000ms linear infinite;
    align-items: center;
    display: inline-flex;
    will-change: transform;
}

.back_txt .rolling .track .text.right {
    animation-name: roll-right;
}

.back_txt .rolling .track .text.reverse {
    animation-duration: 25000ms;
}

.back_txt .rolling .track:hover {
    background-color: #efefef;
    color: #222;
}

.back_txt .rolling .track:hover .point_txt {
    color: #beb9a3;
}

.point_txt {
    color: #b7a0df;
    font-weight: 900;
}

.about_wrap {
    height: 800px;
    padding-top: 200px;
}

.animated-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
}

.animated-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, #c0e3fb, #efd1e8, #b7a0df);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}

@keyframes frame-enter {
    0% {
        clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
        clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
        clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, 100% 0%, 0% 0%);
    }
    75% {
        -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 0%, 0% 0%);
    }
    100% {
        -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 0% 100%);
    }
}

@keyframes roll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes roll-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/*-----------------skills------------------*/
.skills {
    background-color: #fafafa;
}

.skills .skills_wrap {
    padding-top: 70px;
}

.skills .skills_wrap h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 50px 0;
}

.skills .skills_wrap h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 100px 0 50px;
}

.skills_wrap ul {
    display: flex;
    justify-content: space-evenly;
}

.skills_wrap ul.tool_flex {
    gap: 40px;
    justify-content: center;
}

.skills_wrap ul li {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 25px 25px;
    background-color: #efd1e8;
    box-shadow: 8px 8px 0px #b7a0df;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.skills_wrap ul li img {
    width: 70px;
}

.skills_wrap ul li .skill_txt {
    position: absolute;
    top: 10px;
    left: 130px;
    width: 180px;
    height: 100%;
    font-size: 12px;
    opacity: 0;
}

.skills_wrap ul li .skill_txt p {
    padding: 7px 0;
}

.skills_wrap ul li:hover {
    padding-right: 320px;
    transform: translate(8px, 8px);
    box-shadow: none;
}

.skills_wrap ul li:hover .skill_txt {
    opacity: 1;
    transition: all 1s;
}
/*-----------------project------------------*/
.project {
    background-color: #fff;
}

.project .project_wrap {
    padding-top: 100px;
    height: 900px;
}

.project_wrap h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.project_swiper > li {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.project_swiper .left_project {
    padding: 10px 10px 50px 160px;
    display: flex;
    align-items: flex-end;
    gap: 35px;
}

.project_swiper .right_project {
    position: absolute;
    top: 0;
    right: 110px;
    width: 560px;
}

.project_swiper .right_project h2 {
    padding-bottom: 15px;
    color: #fd8234;
}

.project_swiper .right_project p {
    padding-bottom: 15px;
}

.project_swiper .right_project .point_color {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project_swiper .right_project .point_color span {
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}
.project_swiper .right_project span:nth-child(1) {
    width: 100px;
    font-size: 14px;
}
.project_swiper .right_project span:nth-child(2) {
    background-color: #fd8234;
}

.project_swiper .right_project span:nth-child(3) {
    background-color: #efe8da;
}
.project_swiper .right_project span:nth-child(4) {
    background-color: #261c13;
    color: #fff;
}

.project_wrap .project_swiper .project_preview {
    position: relative;
    width: 370px;
    border-radius: 20px;
}

.project_wrap .project_swiper .sub {
    width: 200px;
}

.project_wrap .project_swiper .project_preview::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 5px;
    background: linear-gradient(120deg, #c0e3fb, #efd1e8, #b7a0df);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
}
.project_wrap .project_swiper .project_preview::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}

.project_wrap .project_swiper .project_preview:hover::before {
    opacity: 1;
}

.project_swiper .project_preview .plus_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

.project_preview .plus_icon i {
    font-size: 20px;
    padding: 10px;
}

.project_swiper .project_preview:hover .plus_icon {
    opacity: 1;
}

.project_swiper .project_btn > div {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: 8px 8px 0px #b7a0df;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project_swiper .project_btn > div:nth-child(1) {
    background-color: #efd1e8;
}
.project_swiper .project_btn > div:nth-child(2) {
    background-color: #c0e3fb;
    margin: 20px 0;
}
.project_swiper .project_btn > div:nth-child(3) {
    background-color: #222;
    color: #fff;
}

.project_swiper .project_btn > div:hover {
    transform: translate(8px, 8px);
    box-shadow: none;
}

#view {
    position: absolute;
    top: 0;
    left: 30%;
    width: 50%;
    height: 94%;
    z-index: 100;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.16);
}

#view .close {
    width: 100%;
    height: 30px;
    background-color: #b7a0dfd7;
}

#view .close i {
    float: right;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

#view .view_img {
    height: 96%;
    overflow-y: auto;
}

.view_img::-webkit-scrollbar {
    width: 10px;
}

.view_img::-webkit-scrollbar-thumb {
    height: 30%;
    background: #c0e3fb;
}

.view_img::-webkit-scrollbar-track {
    background: #efd1e869;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #b7a0df;
    opacity: 0.6;
}
.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
    opacity: 1;
    transition: all 0.3s;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #c0e3fb;
    opacity: 0.5;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-image: radial-gradient(34.73% 114.69% at 49.95% 16.67%, #c0e3fb 9.09%, #efd1e8 50.52%, #b7a0df 93.23%);
    background-size: 110%;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

/*-----------------contact------------------*/
.contact {
    background-color: #fff;
}

.contact img {
    width: 1000px;
}
