* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(34.73% 114.69% at 49.95% 16.67%, #c0e3fb 9.09%, #efd1e8 50.52%, #b7a0df 93.23%);
    background-size: 110%;
    color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    display: block;
    width: 100%;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/*-------------- Intro--------------- */

.intro {
    background-color: #fff;
    height: calc(100vh - 131px);
}

.wrap {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.wrap .text_box {
    width: 60%;
}

.wrap .text_box .typeText {
    color: #b7a0df;
    font-size: 28px;
}

.wrap .text_box .typeText::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

.wrap .intro_img {
    width: 40%;
}

.wrap .intro_img img {
    width: 400px;
    border-radius: 50%;
}

.nav_bar {
    position: fixed;
    top: 50%;
    right: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    color: #222;
    margin-right: 20px;
    font-size: 14px;
}

.nav_bar a::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #b7a0df;
    margin-left: 20px;
}

.nav_bar a:hover::after {
    width: 14px;
    height: 14px;
    transition: all 0.3s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Snow-Animation */
.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {
    100% {
        transform: translateY(0);
    }
}

/* Cloud-Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* ------------------------------------------ */

.hide {
    display: none;
}

.page__style {
    background-color: #6d326d;
    position: fixed;
    top: 290px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto auto;
    overflow: hidden;
}

.page__description {
    color: #fff;
    font-weight: 300;
    text-align: center;
}
h1 {
    font-weight: normal;
    margin-top: 200px;
    margin-bottom: 30px;
}

.btn_nav {
    background-color: #efd1e8;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 17px 30px;
    width: 146px;
    box-shadow: #b7a0df 5px 5px;
}

.btn_nav:hover {
    transform: translate(5px, 5px);
    transition: all 0.3s;
    box-shadow: rgba(255, 255, 255, 30%) 6px 2px 13px 0px;
}
.btn_nav:focus,
.btn_nav:active {
    outline: none;
}

/* Animation class */
.animate_content {
    animation: animate 3s ease;
}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
    }
    85% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes anim {
    20% {
        z-index: 11;
        transform: skewX(5deg) translateX(-100%);
    }
    40% {
        transform: skewX(0deg) translateX(0);
        width: 100%;
        z-index: 11;
        box-shadow: 10px 10px 5px #eaeaea;
    }
    60% {
        transform: skewX(3deg) translateX(0);
        width: 100%;
        z-index: 11;
        box-shadow: 10px 10px 5px #eaeaea;
    }
    /* 80% {
        transform: skewX(1deg) translateX(-100%);
        width: 60%;
        z-index: 11;
        box-shadow: 10px 10px 5px #eaeaea;
    } */
    100% {
        transform: skewX(-5deg) translateX(-50px);
        width: 30%;
        z-index: 1;
        box-shadow: none;
    }
}

.fadeIn {
    z-index: 10;
}

/*  home
-----------------------------------*/
.home {
    background-color: #c0e3fb;
}

/*  Projects
-----------------------------------*/
.projects {
    background-color: #efd1e8;
}

/*  Skills
-----------------------------------*/
.skills {
    background-color: antiquewhite;
}

/*  About
-----------------------------------*/
.about {
    background-color: #fb9b33;
}

/*  Contact
-----------------------------------*/
.contact {
    background-color: #c9cdc0;
}
